<div class="row">
  <div class="col-sm-12 col-md-8 col-lg-8">
    {{ form.title }}
  </div>
  <div class="col-sm-12 col-md-4 col-lg-4">
    {{ form.field_ngaysinh }}
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    {{ form.field_noithuongtru }}
  </div>
</div>
{{ form.form_build_id }}
{{ form.form_id }}
{{ form.form_token }}

{{ form.actions }}
